---
import { cn } from "../../utils/cn";

const backgroundLightClasses = cn(
	// Position
	'absolute top-[-420px] left-1/2 -translate-x-1/2 z-0',
	// Sizing
	'w-[648px] h-[648px]',
	// Visual
	'bg-text-blue rounded-full blur-[1200px]',
);
---

<div class={backgroundLightClasses}></div>

